<div class="row">
  {{#each allGames}}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title d-flex justify-content-between align-items-center"
          >
            {{#each this}}
              {{#if name}}
              Nom partie: {{name}}
              {{/if}}
              <br>
              {{#if name}}
              Nom adversaire: {{adversaire}}
              {{/if}}
              <br>
              {{#if name}}
              Etat: {{etat}}
              {{/if}}
            {{/each}}
          </h4>
          {{#each this}}
          {{#if _id}}
          <input type=button class="btn btn-danger btn-block btn-sm" onclick=window.location.href='/game/newGame/{{_id}}'; value=Supprimer />
          <input type=button class="btn btn-danger btn-block btn-sm" onclick=window.location.href='/game/rejoindrePartie/{{_id}}'; value=Rejoindre />
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="card mx-auto">
      <div class="card-body">
        <p class="lead">Il y a pas encore de partie cree</p>
        <a href="/newGame" class="btn btn-success btn-block">Ajoute une
          partie</a>
      </div>
    </div>
  {{/each}}
</div>